h1, h2, h3, h4, h5, h6, ul, ol, li, p {
    margin: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input {
    outline: none;
    outline-offset: none;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 0px;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
input:focus::-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
input:focus::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
a {
      text-decoration: none;
      color: inherit;
}
img {
    width: 100%;
    vertical-align: top;
}